@media(max-width: 615px) {


    html{
        font-size: 45%;
    }
}
@media(max-width: 590px) {


    html{
        font-size: 40%;
    }
}
@media(max-width: 450px) {


    html{
        font-size: 35%;
    }
}
@media(max-width: 370px) {


    html{
        font-size: 30%;
    }
}